.feed{
    height: 91vh;
    margin: 20px auto;
    padding: 10px 20px;
    overflow-y: scroll;
    line-height: 2em;
    box-sizing: border-box;
}

.post{
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #526D82;
    color: #DDE6ED;
}

.post > .post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 0;
}

.menu_item{
    padding: 8px 16px;
    align-items: stretch;
}

.icon{
    padding: 0 4% 0 0;
    font-size: 23px;
}

.main_icons{
    padding: 0 4% 0 0;
    font-size: 23px;
    color: #DDE6ED;
}

.menu_item:hover{
    color: #DDE6ED;
}

.post > .post_text{
    padding: 0 16px;
}