.feelings {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
}

.feelings_grid {
    width: 90%;
}

.add_feeling_button {
    border: none !important;
    outline: none !important;
    cursor: pointer;
}

.add_feeling_button:hover {
    outline: none !important;
    border: none !important;
    background-color: transparent !important;
}

.chip {
    margin: 0.5%;
}

.menu_item:hover {
    opacity: 0.9;
}