.DISGUST {
    margin: 0 1% 0 0;
    background-color: #8B8682 !important;
    color: white !important;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.HAPPY {
    margin: 0 1% 0 0;
    background-color: #FDD835 !important;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.SAD {
    margin: 0 1% 0 0;
    background-color: #81D4FA !important;
    color: white !important;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.FEAR {
    margin: 0 1% 0 0;
    background-color: #78909C !important;
    color: white !important;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.ANGER {
    margin: 0 1% 0 0;
    background-color: #EF5350 !important;
    color: white !important;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.ANXIOUS {
    margin: 0 1% 0 0;
    background-color: #C5CAE9 !important;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.LOVE {
    margin: 0 1% 0 0;
    background-color: #FFC0D9 !important;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.INSPIRE {
    margin: 0 1% 0 0;
    background-color: #4CAF50 !important;
    color: #FFFFFF !important;
    letter-spacing: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}


.ANGER:hover {
    cursor: pointer;
}

.ANXIOUS:hover {
    cursor: pointer;
}

.DISGUST:hover {
    cursor: pointer;
}

.FEAR:hover {
    cursor: pointer;
}

.HAPPY:hover {
    cursor: pointer;
}

.INSPIRE:hover {
    cursor: pointer;
}

.LOVE:hover {
    cursor: pointer;
}

.SAD:hover {
    cursor: pointer;
}
