.paragraph{
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.main_button{
  background-color: #0063cc;
  box-shadow: none;
  border: none;
  display: inline;
  padding: 1rem 2rem;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.main_button:hover{
  box-shadow: none;
}