.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 40px;
    width: 80vw;
    height: 90vh ;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
    background-color: #DDE6ED;
}

.login_form
{
    display: flex;
    flex: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.panel
{
    display: flex;
    flex-direction: column;
    flex: 60%;
    justify-content: center;
    align-items: center;
}


.paneltext{
    -webkit-text-stroke:1px #333;
    -moz-text-stroke:1px #333;
    -o-text-stroke:1px #333;
    font-variation-settings: "wght" 1000;
    font-size:100px;
    color:transparent;
    text-shadow: 4px 4px 0 #9DB2BF;
    letter-spacing: 20px;
}


.textarea
{
    width: 60%;
    height: 100%;
    margin: 2.2% !important;
}



.button
{
    width: 60%;
    height: 100%;
    margin: 2.2% !important;
    box-shadow: none !important;
}


.button:hover
{
    box-shadow: none !important;
}






