.nav_item:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out !important;
}

.banner_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold !important;
    margin-top: 10rem !important;
    margin-bottom: 1rem !important;
}

.banner_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem !important;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.card {
    margin: 1rem;
    border-radius: 60px !important;
    border: 1px solid #fff !important;
    box-shadow: rgba(17, 17, 26, 0.05) 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px !important;
}

.card:first-child {
    width: 20em;
    height: 20em;
}

.card:nth-child(2) {
    width: 25em;
    height: 25em;
}

.card:nth-child(3) {
    width: 20em;
    height: 22em;
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    transition: all .3s ease-in-out !important;
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px ;
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
    transition: all 0.3s ease-in-out !important;
}






