.reported_post{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 10px;
}

.post_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: inherit;
}

.button {
    display: flex;
    justify-content: flex-start !important;
    text-transform: capitalize !important;
    align-items: center;
    gap: 10px;
    color: #FFF !important;
    font-weight: 800 !important;
    border-radius: inherit;
    box-sizing: border-box;
    transition: all .2s ease-in-out !important;
}
