.side_bar {
    display: flex;
    font-family: "Montserrat ExtraBold", sans-serif !important;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1% 2%;
    border-right: 1px solid #526D82;
}

.container_buttons {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.container_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_image {
    width: calc(min(17vh, 17vw));
    height: calc(min(17vh, 17vw));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: visible !important;
    box-sizing: border-box;
}

.profile_image > * {
    margin: -12px 0 0 -12px;
}

.profile_image:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -9px;
    left: -8px;
    border-radius: 50%;
    border: 2px solid #333;
    box-sizing: border-box;
}

.container_profile h3 {
    margin: 15px 0;
    font-size: calc(2.5 * calc(min(1vh, 1vw)));
    color: #526D82;
}


.button {
    width: 100%;
    height: calc(min(8vh, 8vw));
    display: flex;
    margin-bottom: 5%;
    padding-left: 7%;
    text-transform: capitalize;
    gap: 15px;
    justify-content: flex-start !important;
    letter-spacing: calc(min(.5vh, .5vw)) !important;
    align-items: center;
    font-size: calc(2.5 * calc(min(1vh, 1vw)));
    color: #526D82;
    border-radius: 16px;
    box-sizing: border-box;
}

.button:hover{
    background: #DDE6ED;
    color: #526D82;
}


.active {
    position: relative;
    background: #526D82;
    color: #FFF;
    border-radius: 16px;
    font-weight: bold;
}

.active:hover{
    background: #344e64;
    color: #FFF;
}

.active:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -8px;
    left: -9px;
    border-radius: 16px;
    border: 2px solid #333;
    box-sizing: border-box;
}

.icon{
    font-size: 23px;
    height: 78%;
    color: inherit;
}