.side_bar {
    display: flex;
    width: 25% !important;
    font-family: "Montserrat ExtraBold", sans-serif !important;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1% 2%;
    border-right: 1px solid rgba(82, 109, 130, 0.3);
}

.container_buttons {
    display: flex;
    gap: 10px;
    margin-top: 10%;
    width: 100%;
    height: 100%;
    font-size: calc(3 * calc(min(1vh, 1vw))) !important;
    flex-direction: column;
}

.container_profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_image {
    width: calc(min(17vh, 17vw)) !important;
    height: calc(min(17vh, 17vw)) !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: visible !important;
    box-sizing: border-box;
}

.profile_image:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -9px;
    left: -8px;
    border-radius: 50%;
    border: 2px solid #314b60;
    box-sizing: border-box;
}

.profile_image > * {
    margin-left: -13px;
}

.container_profile h3 {
    margin: 15px 0;
    font-size: calc(2.5 * calc(min(1vh, 1vw)));
    color: #526D82;
}


.button {
    width: 100%;
    height: calc(min(8vh, 8vw));
    display: flex;
    margin-bottom: 5%;
    padding-left: 7%;
    text-transform: capitalize;
    gap: 15px;
    justify-content: flex-start !important;
    letter-spacing: calc(min(.5vh, .5vw)) !important;
    align-items: center;
    font-size: calc(2.5 * calc(min(1vh, 1vw))) !important;
    border-radius: 16px;
    box-sizing: border-box;
    transition: all .3s ease-in-out, color .3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

.button:hover,
.active {
    color: #DDE6ED !important;
    background: none !important
}

.button:after,
.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-sizing: border-box;
    transform-origin: right;
}
.button:before{
    z-index: 10;
    border: 2px solid #333;
    visibility: hidden;
    transition: all .5s ease-in-out .5s;
}
.button:after{
    transform: scaleX(0);
    background: #526D82 !important;
    z-index: -2;
    transition: transform .3s ease-in-out;
}

.button:hover::before,
.active::before {
    visibility: visible;
    transform: translate(-10px, -10px);
}
.button:hover::after,
.active::after {
    transform: scaleX(1);
    transform-origin: left;
}

.line{
    position: absolute;
    bottom: 30%;
    left: 20%;
    width: 60%;
    height: 20%;
    z-index: -1;
    background: #81D4FA;
    opacity: 0.4;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in-out .6s;
}

.active {
    position: relative;
    border-radius: 16px;
    font-weight: bold;
}

.active .line{
    transform: scaleX(1);
    transform-origin: left;
}

.icon {
    height: 1.6em !important;
    color: inherit;
}