.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

.load {
    height: 30px;
    background-color: red;
}